<h4>{{ orderform.status }}</h4>
<form [formGroup]="orderform" (ngSubmit)="saveOrderForm()">
    <label for="orderId">Order Id:</label>
    <input name="orderId" type="text" formControlName="orderId" />
    
    <label for="orderDate">Order Date:</label>
    <input name="orderDate" type="text" formControlName="orderDate" />

    <div formArrayName="items">
        @for(item of items.controls; let i=$index; track $index) {
            <div [formGroupName]="i">
                <label for="productName">Product Name:</label>
                <input type="text" name="productName" formControlName="productName" />

                <label for="price">Price:</label>
                <input type="text" name="price" formControlName="price" />

                <label for="quantity">Quantity:</label>
                <input type="text" name="quantity" formControlName="quantity" />

                <button (click)="removeItem(i)">Remove</button>
            </div>
        }
    </div>
    <button (click)="addItem()">Add</button>
</form>